# SPDX-License-Identifier: MIT
# Use -h 127.0.0.1 for compatibility with Rocky/RHEL containers (socket path may differ)
---
- name: Create WordPress database
  ansible.builtin.command: mysql -h 127.0.0.1 -uroot -p{{ mysql_root_password }} -e "CREATE DATABASE IF NOT EXISTS wordpress;"

- name: Create WordPress user
  ansible.builtin.command: mysql -h 127.0.0.1 -uroot -p{{ mysql_root_password }} -e "CREATE USER IF NOT EXISTS '{{ wordpress_db_user }}'@'localhost' IDENTIFIED BY '{{ wordpress_db_password }}';"

- name: Grant privileges to WordPress user
  ansible.builtin.command: mysql -h 127.0.0.1 -uroot -p{{ mysql_root_password }} -e "GRANT ALL PRIVILEGES ON wordpress.* TO '{{ wordpress_db_user }}'@'localhost';"

- name: Flush privileges
  ansible.builtin.command: mysql -h 127.0.0.1 -uroot -p{{ mysql_root_password }} -e "FLUSH PRIVILEGES;"
